@import "power"
@import "powermenu"
@import "askpass"
@import "bluetooth"
@import "clipboard"
@theme  "colors"   
@import "emoji"  
@import "launcher"  
@import "mpd"	   
@import "network"    
@import "power"	
@import "screenshot"
@import "bitwarden"	
@theme  "calc"	
@import "confirm"  
@import "font"   
@import "networkmenu" 
@import "runner"  
@import "todo"
@theme  "catppuccin-mocha"
